*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.header {
    height: 95vh;
    position: relative;
    background-image: linear-gradient(
            to right bottom,
            rgba(93, 208, 78, 0.705),
            #2798b4c2
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    /* * Cover :-  Scale the image, while preserving its intrinsic aspect ratio (if any), to the smallest size such that both its width and its height can completely cover the background positioning area. */
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
}
.header__logo {
    height: 3.5rem;
}
.header__text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    text-transform: uppercase;
    color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.heading-primary--main {
    letter-spacing: 1.5rem;
    display: block;
    font-size: 6rem;
    animation-name: fromLeft;
    animation-duration: 2s;
    animation-delay: 0.5s;
}
.heading-primary--sub {
    letter-spacing: 0.3rem;
    display: block;
    font-size: 3rem;
    animation-name: fromRight;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(
        to right,
        rgba(77, 176, 64, 0.705),
        rgba(39, 152, 180, 0.76)
    );
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
}
.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
}

.heading-tertiary {
    font-size: 1.6rem;
    font-size: 700;
    text-transform: uppercase;
}

.paragragh {
    font-size: 1.4rem;
}
.paragragh:not(:last-child) {
    margin-bottom: 3rem;
}

@keyframes fromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        opacity: 0.8;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        opacity: 0.8;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 6rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.section-about {
    background-color: #f7f7f7;
    padding: 20rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, #5dd04eb4, #2798b4c2),
        url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-6.8deg);
    margin-top: -8rem;
}
.section-features > * {
    transform: skewY(6.8deg);
}

.section-tours {
    padding: 10rem 0rem;
    padding-top: 20rem;
    background-color: rgba(240, 233, 233, 0.445);
    margin-top: -8rem;
}

.section-stories {
    padding: 15rem 0;
    position: relative;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.book {
    background-image: linear-gradient(
            105deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 50%,
            transparent 50%
        ),
        url(../img/nat-10.jpg);
    background-size: cover;
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.book__form {
    width: 50%;
    padding: 2rem 6rem;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    color: lightcoral;
    font-weight: 600;
    font-size: 1.8rem;
    transition: all 0.2s;
    box-shadow: 0.5rem 0.5rem 1rem rgba(33, 39, 37, 0.3);
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1.2rem 2.5rem rgba(0, 0, 0, 0.4);
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1.5rem rgba(33, 39, 37, 0.4);
}

.btn--white {
    background-color: #ffff;
}

.btn-text:link,
.btn-text:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    color: lightgoldenrodyellow;
    font-weight: 600;
    font-size: 1.8rem;
    transition: all 0.2s;
    box-shadow: 0.5rem 0.5rem 1rem rgba(33, 39, 37, 0.3);
    background: linear-gradient(
        to right,
        rgba(53, 121, 44, 0.705),
        rgba(26, 111, 133, 0.76)
    );
}

.btn-text:hover {
    color: #fff;
    background: linear-gradient(
        to right,
        rgba(77, 176, 64, 0.705),
        rgba(39, 152, 180, 0.76)
    );
    transform: translateY(-0.3rem);
    box-shadow: 0.5 1rem 1rem rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(39, 175, 180, 0.76);
}

.btn-text:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.5rem rgba(33, 39, 37, 0.4);
}

.tour-btn {
    margin-top: 7rem;
}

.card {
    perspective: 1550rem;
    -moz-perspective: 250rem;
    position: relative;
    height: 49rem;
}
.card__side {
    height: 49rem;
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card__side--front {
    background-color: #fff;
}
.card__side--back {
    transform: rotateY(180deg);
}
.card__side--back-1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
    transform: rotateY(-180deg);
}
.card:hover .card__side--back {
    transform: rotateY(0deg);
}
.card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
        url(../img/nat-5.jpg);
}
.card__picture--2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
        url(../img/nat-5.jpg);
}
.card__picture--3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
        url(../img/nat-5.jpg);
}
.card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    text-align: right;
    top: 15rem;
    right: 1rem;
    width: 75%;
}
.card__heading-span {
    padding: 0.5rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.card__heading-span--1 {
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 185, 0, 0.8),
        rgba(255, 119, 48, 0.86)
    );
}
.card__heading-span--2 {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.86)
    );
}
.card__heading-span--3 {
    background-image: linear-gradient(
        to right bottom,
        rgba(41, 152, 255, 0.8),
        rgba(86, 67, 250, 0.86)
    );
}
.card__details {
    padding: 3rem 3rem 1rem 3rem;
}
.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
.card__details ul li {
    text-align: center;
    font-size: 1.6;
    padding: 0.8rem 1rem;
}
.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.card__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 80%;
}
.card__price-box {
    padding: 4rem 0rem;
    font-weight: 100;
    color: #fff;
    text-align: center;
}
.card__price-only {
    font-size: 4rem;
}
.card__price-value {
    font-size: 6rem;
    padding-bottom: 8rem;
}

.composition {
    position: relative;
}
.composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s ease-in;
    z-index: 2;
    outline-offset: 1rem;
}
.composition__photo__p1 {
    left: 1rem;
    top: 0rem;
}
.composition__photo__p2 {
    right: 1rem;
    top: 4rem;
}
.composition__photo__p3 {
    left: 15%;
    top: 15rem;
}
.composition__photo:hover {
    transform: scale(1.2) translateY(-0.5rem);
    box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.8);
    z-index: 5;
    outline: 1.2rem solid #27b495c2;
}
.composition:hover .composition__photo:not(:hover) {
    transform: scale(0.6);
}

.feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.4s;
}
.feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(
        to right,
        rgba(77, 176, 64, 0.705),
        rgba(39, 152, 180, 0.76)
    );
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
}
.feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05);
}

.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-weight: 1.6rem;
    transform: skewX(-12deg);
}
.story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    z-index: 5;
}
.story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
    transition: all 0.5s;
    backface-visibility: hidden;
    overflow: hidden;
}
.story__text {
    transform: skewX(12deg);
}
.story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-transform: uppercase;
    color: #28b485;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
}
.story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(2px) brightness(85%);
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
    overflow: hidden;
}
.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form__group:not(:last-child) {
    margin-bottom: 1rem;
}

.form__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    background-color: white;
    border-bottom: 5px solid transparent;
    border: none;
    color: #000;
    width: 90%;
    display: block;
}
.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
    color: #999;
}

.form__label {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    display: block;
    transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

.row {
    max-width: 114rem;
    margin: 0 auto;
    margin-bottom: 0rem;
}
.row:not(:last-child) {
    margin-bottom: 2rem;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
    float: left;
    padding: 2rem 0 5rem 0;
}
.row .col-1-of-2:not(:last-child) {
    margin-right: 6rem;
}
.row .col-1-of-4 {
    width: calc((100% - 6rem) / 4.5);
    float: left;
}
.row .col-1-of-4:not(:last-child) {
    margin-right: 6rem;
}
.row .col-1-of-3 {
    width: 32rem;
    float: left;
}
.row .col-1-of-3:not(:last-child) {
    margin-right: 6rem;
}

.story-row {
    padding-bottom: 10rem;
    margin-bottom: 10rem;
}

.footer {
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: #fff;
}
.footer__logo-box {
    text-align: center;
    margin-bottom: 6rem;
}
.footer__logo {
    width: 15rem;
    height: auto;
}
.footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block;
}
.footer__list {
    list-style: none;
}
.footer__item {
    display: inline-block;
}
.footer__item:not(:last-child) {
    margin-right: 1.8rem;
}
.footer__link:link,
.footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
    background-color: #333;
    color: #fff;
}
.footer__link:hover,
.footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right;
}

/* <--------------------------Media Queries-----------------------------------> */

@media screen and (max-width: 900px) {
    .section-book {
        padding: 5rem 0;
    }
    .section-book .row {
        max-width: 90%;
    }
    .footer .row .col-1-of-2 {
        padding: 2rem;
    }
    .footer .row .col-1-of-2:not(:last-child) {
        margin-right: 2rem;
    }

    .book {
        background: rgba(255, 255, 255, 0.9) 60%;
        height: 45rem;
    }
    .book__form {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 770px) {
    html {
        font-size: 50%;
    }

    .heading-secondary {
        margin: 0 2rem 0 2rem;
        padding: 2rem 4rem;
    }
    .about-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-row .col-1-of-2 {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-right: 0;
        margin: 0;
    }

    .about-row .col-1-of-2:not(:last-child) {
        margin-right: 0rem;
        margin: auto;
    }
    .about-row .col-1-of-2:last-child {
        padding-bottom: 4rem;
    }

    .section-about {
        padding: 30rem 0;
        padding-top: 20rem;
    }
    .section-features {
        margin-top: 10rem;
    }
    .section-features .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .section-features .col-1-of-4 {
        margin: 2rem 2rem;
        min-width: 200px;
    }

    .section-tours .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-tours .row .col-1-of-3:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .section-features .row .col-1-of-4:not(:last-child) {
        margin: 2rem 2rem 2rem 2rem;
    }
    .book {
        background: rgba(255, 255, 255, 0.9) 60%;
        height: 55rem;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 40%;
    }
    .section-features .row {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }

    .footer .row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .book {
        background: rgba(255, 255, 255, 0.9) 60%;
        height: 60rem;
    }
    .section-stories {
        padding: 5rem 0;
    }
    .story__text {
        text-align: center;
    }
    .story__text p {
        display: none;
    }
    .story {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
    }
    .tour-btn {
        margin-top: 1rem;
    }
}
